* {
  background-color: #fbfef9;
}

.home {
  margin: 25%;
  margin-top: 35px;
  display: grid;
  place-items: center;
}

.home-par {
  margin-top: 15px;
  line-height: 30px;
}

.sign {
  margin-top: 50px;
  line-height: 30px;
  font-size: 25px;
}

.contact {
  margin: 25%;
  margin-top: 35px;
  display: grid;
  place-items: center;
}

.email {
  font-size: 45px;
}

.email-content {
  padding: 25px;
  font-size: 25px;
}

.linked {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
.fa-linkedin-in {
}

.github {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
