.main-skills {
  margin: 25%;
  margin-top: 35px;
  display: grid;
  place-items: center;
}

.table-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-links {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.link {
  margin: 50px;
  cursor: pointer;
}

.content {
  margin-top: 15px;
  line-height: 30px;
}

.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 99%;
}

.to-top {
  font-size: 14px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.fa-java {
  font-size: 35px;
}

.fa-react {
  font-size: 35px;
}

.fa-python {
  font-size: 35px;
}

.sql-title {
  font-size: 35px;
  font-weight: normal;
}

.tags {
  font-weight: bold;
  margin-right: 20px;
}
